

.home_view {
    padding-top: 3em;
    // background-color: rebeccapurple;
    h4 {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FF7F50;
        span {
            font-size: 3em;
            font-weight: bold;
        }
    }
    h1{
        text-align: center;
    }
}