.nav-item{
    border: solid 0.25px lightgrey;
    .nav-link{
        color: #151515;
        &.active{
            background-color: lightgray;
            font-weight: bold;
        }
    }
}

.nav{
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
}