.card__post {
    height: 300px;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    box-shadow: 0 0 20px #0000001a;
    border: none;

    h5 {
        font-weight: bold;
        font-size: 18px;
    }
}

.card__link{
    text-decoration: none;
    &:hover{
        -webkit-filter: brightness(.5);
        filter: brightness(.5);
    }
}

.tag{
    text-decoration: none;

    width: 100px;
    height: 20px;
    color: white;
    background-color: #FF7F50;;
    border-radius: 10px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_card{
    justify-content: space-between;
    align-items: center;
}

.btn_icon{
    background-color: #FF7F50;
    margin-right: 5px;
    svg{
        fill: white;
    }
}