.card__post {
    height: 300px;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    box-shadow: 0 0 20px #0000001a;
    border: none;

    h5 {
        font-weight: bold;
        font-size: 18px;
    }
}