.card__post {
    height: 300px;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    h5 {
        font-weight: bold;
        font-size: 18px;
    }
}